body {
    margin: 0px;
    background-color: white;
    transition: 0.3s ease;
}

main {
    background-color: white;
    width: 100%;
    transition: 0.3s ease;
}

#main_content {
    max-width: 800px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

#main_content_container {
    width: 100%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Open Sans', sans-serif;
    color: black;
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
}

h1{
    font-size: 1.5rem;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.7rem;
}

h5{
    font-size: 1.6rem;
}

h6{
    font-size: 1.5rem;
}

p, li {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.MathJax {
    font-size: 1.5rem !important;
    color: black;
    transition: 0.3s ease;
}

#settings_cog_svg{
    display: block;
    height: 50%;
    max-height: 50%;
    max-width: 2.5rem;
    min-width: 1.0rem;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform 0.5s 0.15s ease;
}

.settings_cog_rotate{
    transform: rotate(90deg)
}

#side_nav_toggle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    max-height: 80px;
    transition: background-color 0.3s;
}

#toc_toggle_svg:hover {
    max-width: 2.7rem;
    margin-left: 0.9rem;
    transition: max-width 0.2s, margin-left 0.2s;
}

#toc_toggle_svg {
    display: block;
    height: 25%;
    max-height: 25%;
    max-width: 2.5rem;
    min-width: 1.0rem;
    margin-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    transition: max-width 0.2s, margin-left 0.2s;
}

#top_nav {
    position: fixed;
    top: 0;
    display: flex;
    background-color: rgba(250,250,250, 0.95);
    height: 65px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-width: 0.15rem;
    border-color: black;
    transition: transform 0.3s .1s ease;
}

#top_nav.hide_nav {
    transform: translate(0, -100%); 
}

#top_nav_spacer {
    width: 100%;
    height: 65px;
}

#section_title_container {
    width: 40vw;
    max-width: 40vw;
}

#section_title {
    text-align: center;
    cursor: default;
}

#links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-items: center;
    width: 30vw;
    height: 100%;
}

.top_nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    transition: background-color 0.3s;
}

.top_nav_links:hover{
    background-color: #dddddd;
    transition: background-color 0.3s;
}

#nav_hr {
    margin: 0;
}

.link_text{
    font-size: 1.2rem;
    cursor: default;
}

/* Deals with the settings window */
#settings_window{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    right: 0;
    transform: translateX(100%);
    background-color: rgba(250,250,250, 0.95);
    border-top: solid grey;
    border-left: solid grey;
    border-bottom: solid grey;
    border-width: 0.15rem;
    transition: transform 0.5s 0.15s ease, background-color 0.3s ease;
}

#settings_window.show_window{
    transform: translateX(0);    
}


/* Dark mode toggle button */
#Dark_Mode_Toggle_Container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: solid black 0.15rem;
}

#dark_mode_switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#dark_mode_switch input{
    opacity: 0;
    width: 0;
    height: 0;    
}

#dark_mode_text {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#dark_mode_slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ddd;
    transition: 0.25s;
    border-radius: 30px;
}

#dark_mode_slider:before{
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 3px;
    border-radius: 24px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + #dark_mode_slider {
    background-color: #2196F3;
}

input:focus + #dark_mode_slider{
    box-shadow: 0 0 1px black;
}

input:checked + #dark_mode_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* font scale handler */
#font_size_text{
    font-size: 1.2rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#font_slider {
    margin-left: 0.7rem;
    cursor: pointer;
    width: 75%;
    margin-bottom: 0.5rem;
}

#font_size_container{
    display: flex;
    flex-direction: column;
}

#font_size_slider_container {
    display: flex;
    flex-direction: row;
}

#font_size_display{
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
}

#side_nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(250,250,250, 0.95);
    width: 300px;
    height: 80vh;
    border-right: solid grey;
    border-top: solid grey;
    border-bottom: solid grey;
    border-width:  0.15rem;
    transition: transform 0.5s 0.15s ease, background-color 0.3s ease;
    transform: translateX(-100%);
    overflow-y: scroll;
    overflow-x: hidden;
}

#side_nav.show_nav{
    transform: translateX(0%);
}

.sub_section_link{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
    transition: color 0.1s ease;
}

.sub_section_link:hover{
    color: #2196F3;
}
